# Jetbrains
.idea
*.iml
.bin

# Mirrord
.mirrord

# OpenTofu
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

# Rust
/target

# VSCode
.vscode
.idx

# Ignore DevSpace cache and log folder
.devspace/
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
